page
	--nav-color #f5c789
	--origin1 #956134
	--origin2 #f8b86b
	--origin3 #f8d99f
	--origin4 #feedcb
	--black #333333
	--gray1 #727171
	--gray2 #909399
	--white1 #efefef
	--white2 #ffffff
	--bg-linear linear-gradient(#f8b86b, #956134)
	--shadow-below 0 5px 2px #efefef
	--shadow1 1px 1px 15px rgba(144, 140, 139, 0.65)
	--shadow2 1px 1px 2px rgba(144, 140, 139, 0.65)
	--font-dark #595757
	--border1 1px solid #808080
	--border2 1px solid #DCDFE6
	--speed-slide 0.8s ease-in-out
body
	margin 0
	padding 0s
	font-size 26rpx
	line-height 1.5
	font-weight 400
	color var(--font-dark)
body, view, textarea
	box-sizing border-box
input, textarea
	font-size 26rpx
	padding 5px
	border-radius 8px
button
	border none
	border-radius 12px
	font-size 26rpx
	padding 5px
	background-color var(--origin2)
	color #FFFFFF
	&::after
		border none
	&:active
		transform scale(0.98)
/* hover样式 */
.button-hover
	background-color var(--origin2)
	color #FFFFFF
navigator
	display inline-block
/* 默认placeholder样式 */
.input-placeholder, .textarea-placeholder
	font-size 22rpx
	color var(--gray2)
	letter-spacing 0
.hoverScale
	transform scale(0.98)
.small
	font-size 24rpx
.mini
	font-size 20rpx
.strong
	font-weight 700
.center
	text-align center
	margin auto
.h3
	font-size 32rpx
	font-weight 700
.fix-screen
	z-index 100
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background-color rgba(0, 0, 0, 0.2)
	.content
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -58%)
		padding 10px
		background-color #FFFFFF
.blank
	flex 1
.rich-text *
	white-space pre-wrap
	word-wrap break-word
/* 上下旋转强调动画 */
@keyframes shake
	0%
		transform rotate(10deg)
	100%
		transform rotate(-10deg)
